{% extends 'todo/base.html'%}


{% block content%}

<div class="container">
    <table class="table table-primary ">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Tache</th>
            <th scope="col">Termine</th>
            <th scope="col">Debut</th>
          </tr>
        </thead>
        <tbody>
        {% for tache in taches %}
          <tr>
            <th scope="row"> <a href="{% url 'record' pk=tache.id %}"> {{tache.id}} </a></th>
            <td>{{tache.name}}</td>
            <td>{{tache.completed}}</td>
            <td>{{tache.date}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

</div>
{% endblock content %}