{% extends 'todo/base.html'%}


{% block content%}

<div class="container">
    <div class="card">
        <div class="card-header">
          {{tache.name}}
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
           <strong> Tache </strong> : {{tache.name}}  <br/>
           <strong> Etat </strong> : {{tache.completed}}  <br/>
           <strong> Date </strong> : {{tache.date}}  <br/>
          </blockquote>

          <br />

          <a  class="btn btn-primary" href="{% url 'index' %}">Acceuil</a>
          <a  class="btn btn-danger" href="{% url 'delete' pk=tache.id %}">Supprimer </a>
          <a  class="btn btn-danger" href="{% url 'update' pk=tache.id %}">Modifier </a>
        </div>
        
      </div>
</div>

{% endblock content %}